<div *ngIf="isAdvertiser() && advertiser">
    <form>
        <h2>Felhasználó adatai:</h2>
        <label>Felhasználónév:</label>
        <input type="text" name="username" [(ngModel)]="advertiser.username">
        <label>Email cím:</label>
        <input type="text" name="email" [(ngModel)]="advertiser.email">
        <label>Telefon:</label>
        <input type="text" name="phone" [(ngModel)]="advertiser.phone">
        <label>Név:</label>
        <input type="text" name="name" [(ngModel)]="advertiser.name">
        <br>
        <input type="submit">
    </form>
    <div>
        <h2>Cég adatai:</h2>
        <label>Cégnév:</label>
        <input  type="text" name="name" [(ngModel)]="advertiser.companyName" readonly>
        <label>Cég telefon:</label>
        <input type="text" name="name" [(ngModel)]="advertiser.companyPhone" readonly>
        <label>cég email:</label>
        <input type="text" name="name" [(ngModel)]="advertiser.companyEmail" readonly>
        <div>
            <h3>Székhely:</h3>
            <label>Irányítószám:</label>
            <input type="text" name="name" [(ngModel)]="advertiser.zipCode" readonly>
            <label>Város:</label>
            <input type="text" name="name" [(ngModel)]="advertiser.city" readonly>
            <label>Utca:</label>
            <input type="text" name="name" [(ngModel)]="advertiser.street" readonly>
            <label>Házszám</label>
            <input type="text" name="name" [(ngModel)]="advertiser.houseNumber" readonly>
            <label>Megye</label>
            <input type="text" name="name" [(ngModel)]="advertiser.county" readonly>
        </div>
    </div>
</div>

<div *ngIf="isJobSeeker()">
    <form>
        <h2>Felhasználó adatai:</h2>
        <label>Felhasználónév:</label>
        <input>
        <label>Név:</label>
        <input>
        <label>Végzettség:</label>
        <input>
        <label>Születési dátum:</label>
        <input>
        <label>Ismert nyelvek: </label>
        <input>
        <label>Email cím:</label>
        <input>
        <label>Lakhely:</label>
        <input>
        <label>Telefon:</label>
        <input>
        <br>
        <input type="submit">
    </form>
    <table>
        Jelentkezések:
        <tr>
            <th>Hirdetés</th>
            <th>Opció</th>
        </tr>
        <tr *ngFor="let application of applications">
            <td></td>
            <td>TörlésGomb</td>
        </tr>
    </table>
</div>