<footer class="indexoldal">
    <code>© Adatbázis alapú rendszerek 2022<br></code>
    <small>Kövess minket különböző social media oldalainkon is:</small>
    <div id="footer">
        <a class="float-down"></a>
        <a href="https://facebook.com"><img src="../static/images/facebook_logo.png" alt="Facebook"></a>
        <a href="https://youtube.com"><img src="../static/images/youtube_logo.png" alt="Youtube"></a>
        <a href="https://twitter.com"><img src="../static/images/twitter_logo.png" alt="Twitter"></a>
        <a href="https://instagram.com"><img src="../static/images/instagram_logo.png" alt="Instagram"></a>
    </div>
</footer>